%html
  %head
    %title esophagus
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track'=>true
    = javascript_include_tag 'application', 'data-turbolinks-track'=>true
    = csrf_meta_tags
    
  %body
    #Content
      #Main
        - if logged_in?
          %p
            = image_tag current_user.image
            = current_user.nickname
            = link_to 'Logout', logout_path

        #Yield
          = yield

        #PageLoading.hide
          = image_tag 'loading.gif'
